
       *{
        margin : 0px;
        padding : 0px;
     }

     body{
        background-color: whitesmoke ;
     }
        
     #below_inputbar{
        display: flex;
        justify-content: flex-start;
        width:95%;
        gap: 15px;
        align-items: center;
        margin: auto;
        margin-top: 2px;
        padding: 25px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        background-color: white;
       }
       #below_inputbar > p {
        font-size: 20px;
        color: black;
       font-weight: bold; 
       }
       #below_inputbar >  p:hover{
        
        color: blue;
        cursor: pointer;
       }
     
       #mid_inputbar{
         margin: auto;
            width: 90%;
            display: flex;
             justify-content: space-between;
             padding: 10px;
       }
     
       #mida{
         display: flex;
         justify-content: center;
         align-items: center;
         gap:2px;
       }
       
       #midb{
         display: flex;
         justify-content: center;
         align-items: center;
         gap:2px;
       }
     
       #topadd{
        margin: 2px auto 2px auto;
        display: grid;
        justify-content: center;
        background-color: whitesmoke ;
     }
     #miracle{
       
         display: grid;
      
     }
     #miracle > img{
         width: 90%;
         margin: auto;
     }
       #total_container{
            width: 90% ;
              margin: auto;
              gap:  5px ;
             margin-top: 25px;
             display: grid;
             grid-template-columns: 70% 26%;
             justify-content: space-between;
         } 
     
          #writersm{
             margin: auto;
             display: grid;
             gap: 10px;
             /* border: 1px solid blue; */
          }
     
          .mcards{
          
             display: grid;
             gap: 10px;
          }
          .mcards > img{
             width: 100%;
          }
     
          .mcards > h4{
             color: rgb(78, 58, 58);
          }
          .mcards > p {
                color: blue;
          }

          /* *********************************** */

          #writers{
                display: grid;
                 gap: 10px;
                border:  1px solid transparent;
                justify-content: center;
                align-items: center;
           }
   
           .wcards{
            border-bottom:  1px solid red;
            width: 90%;
            margin: auto;
            padding-bottom: 5px;
            }

         .diva{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin: auto;
         }
         .diva > h3 {
           color: brown;
         }
         .wimage{
                  border-radius: 62px;
         }

         .divb{
            display: grid;
           
            justify-content: flex-start;
            align-items: center;
         
            gap: 5px;
         }
      
     
     