
    *{
          margin: 0;
          padding: 0;
    }
 body{
    background-color: whitesmoke;
  }
  #below_inputbar{
       display: flex;
       justify-content: flex-start;
       width:95%;
       gap: 15px;
       align-items: center;
       margin: auto;
       margin-top: 2px;
       padding: 25px;
       box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
       background-color: white;
      }
      #below_inputbar > p {
       font-size: 20px;
       color: black;
        font-weight: bold; 
      }
      #below_inputbar >  p:hover{
       
       color: skyblue;
       cursor: pointer;
      }

    #topadd{
       margin: 2px auto 1px auto;
       display: grid;
       justify-content: center;
       background-color: whitesmoke ;
    }
   
   #gallery-container{
        margin: auto;
       border: 1px solid transparent;
    }
     #hgallery{
       margin: 2px auto 2px auto;
       display: grid;
       display: flex;
       gap: 10px;
       justify-content: center;
       align-items: center;
       background-color: white ;
     }
   /* #hgallery img{
        margin: auto;
        width: 50px;
        border: 1px solid red;
     } */

     #egallery {
       width:95%;
       margin: auto;
       display: grid;
       grid-template-columns: repeat(3,1fr);
       gap: 5px;
    }

   .ecards {
        gap: 5px;
   }

.ecards img {
 width: 99%;
 display: grid;
 border-radius: 5px;
 /* height: 75%; */
 object-fit: cover;
}

