*{
    padding: 0px;
    margin: 0px;
    /* position: relative; */
}
body{
    position: relative;
}
#pr_navbar{
    width: 100%;
    display: flex;
    gap: 5%;
    padding: 0.9%;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#india ,#home{
    font-weight: bolder;
}
#india>span>img{
    width: 20px;
    margin-bottom: -5px;
}
a{
    text-decoration: none;
    color: #48494a;
    font-family: BentonSans-Bold, Arial, "Noto Sans", sans-serif;
}
#part-1{
    margin-left: 7%;
}
#part-2{
    margin-left: -40px ;
    border-left: 0.01px solid gray;
    height: 25px;

}
#part-3{
    margin-left: -40px;
    width: 45%;
    display: flex;
    gap: 3%;
}
#pr_results{
    border: 0.5px solid;
    margin-top: 3%;
    width: 17%;
    height: 1000px;
    margin-left: 10%;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
#pr_img{
    position: absolute;
    width: 40%;
    height: 500px;
    top: 10%;
    left: 28.5%;
    border-radius: 10px;
}
#pr_facts{
    position: absolute;
    border: 0.5px solid;
    width: 20%;
    height: auto;
    top: 0px;
    right: 10%;
    margin-top: 6%;
    border-radius: 10px;
    grid-template-columns: repeat(1,1fr);
}
#pr_news{
    position: absolute;
    border: 1px solid;
    width: 40%;
    height: 500px;
    border-radius: 10px;
    top: 57%;
    left: 28.5%;
}
#pr_btn{
    margin-top: 2%;
    width: 90%;
    height: 40px;
    padding:1%;
    margin-left: 6%;
}
#pr_btn>button{
    width: 48%;
    padding: 5%;
    border: none;
    background-color: #03a9f4;
    color: white;
}
#pr_btn>button+button{
    margin-left: -5px;
}
#pr_btn>button:hover{
    background-color: white;
    color: #03a9f4;
}
#pr_img>div>img{
    width: 100%;
    border-radius: 10px 10px 0px 0px; 
    transition: transform .2s;
    overflow: hidden;
}
#pr_img>div{
    background-color: black;
    color: white;
    border-radius: 10px;
}
#pr_img>div>div{
    padding: 10px;
}
#pr_img>div>div>h3{
    margin-top: 10px;
    color: rgb(206, 206, 201);
}
#pr_img>div>img:hover{
    transform: scale(1.01); 
}
#pr_facts>div:nth-child(1){
    border: 0.5px solid;
    padding: 10px;
}
#pr_facts>div:nth-child(2){
    border: 0.5px solid;
    display: flex;
    padding: 10px;
    justify-content: space-around;
}
#pr_facts>div:nth-child(3)>div>img{
     width: 100px;
     border-radius: 50px;
}
#pr_facts>div:nth-child(3)>div{
    border: 1px solid;
    position: relative;
}
.name{
    position: absolute;
    display: flex;
    top:0px;
    right: 90px;
    gap: 2px;
    padding: 5px;
}
.score{
    position: absolute;
    display: flex;
    top:30px;
    right: 90px;
    gap: 2px;
    padding: 5px;
}
.avg{
    position: absolute;
    display: flex;
    bottom:0px;
    right: 90px;
    gap: 2px;
    padding: 5px;
}
.stats{
    text-align: center;
    padding: 5px;
}