body {
    background-color: #f9f9fb;
}
h1 {
    margin-left: 1vw;
    padding: 2vh;
}

#Ri-main {
    display: flex;
    justify-content: space-evenly;
    margin-top: 15vh;
}
h4{
    padding: 2vh;
}
#Ri-features {
    padding: 0.1% 0 0 1vw;
    width: 70vw;
    border: 1px solid #f2e6e6;
    background-color: white;
    border-radius: 10px;
    height: 150vh;
}

#Ri-features_childs img {
    width: 100%;
    transition: 0.7s;
    height: 100%;
}

#Ri-features_childs {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

#Ri-features_childs>div {
    display: flex;
    width: 435px;
    border: 1px solid rgb(230, 218, 218);
    margin-left: -1vw;
    padding: 3vh 1vw 2vh 1vw;
    border-left: none;
}

#Ri-features_childs>div h3 {
    font-size: 18px;
    margin-top: -3px;
    margin-bottom: 1vh;
}

#Ri-features_childs>div>div:last-child {
    margin-left: 2vw;
}

#Ri-features_childs>div>div:last-child a {
    color: black;
}

#Ri-features_childs #small_div {
    display: flex;
    color: rgb(99, 92, 92);
    width: 17vw;
    justify-content: space-between;
    margin-top: 1vh;
}
hr {
    width: 102.7%;
    color: rgb(99, 92, 92);
    margin-left: -2vw;
}
#Ri-features_childs .img_div {
    height: 14vh;
    width: 6vw;
    overflow: hidden;
    border-radius: 55%;
    border: 1px solid gray;
    margin-left: 1vw;
}
#most_read_hr {
    margin-left: -1vw;
    width: 20.9vw;
}
#right-upper{
   background-color: white;
   padding: 0.1% 0 0 1vw;
   border-radius: 10px;
   width: 20vw;
   border: 1px solid #f2e6e6;
   padding: 0.1% 0 0 1vw;
   margin-bottom: 2vh;
}
#Ri-most_read_childs .img_div {
    height: 13vh;
    width: 6vw;
    overflow: hidden;
    border-radius: 10%;
}

#Ri-most_read_childs img {
    width: 6vw;
    border-radius: 15%;
    transition: 0.7s;
    height: 13vh;
}

#Ri-most_read_childs img:hover {
    transform: scale(1.2);
}

#Ri-most_read_childs>div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 1vw;
    gap: 2vw;
    margin: 3vh 0;
}

#Ri-most_read_childs>div h3 {
    font-size: 14px;
    margin-top: -3px;
}

#Ri-most_read_childs>div>div:last-child {
    margin-left: -1vw;
    margin-right: 1vw;
    width: 11vw;
}

#Ri-most_read_childs>div>div:last-child a {
    color: black;
}

#Ri-most_read_childs #small_div {
    width: 100%;
    font-size: 11px;
}
#Ri-most_read_childs #small_div>p{
    display: inline-block;
}
#Ri-most_read_childs #small_div>p:first-child {
    margin-right: 4px;
}